#inicioSeccion{
    display:flex;
    flex-direction:row;
    justify-content:center;
    
}
#inicioSeccionCaja{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    background-color: rgb(214, 248, 250);
    padding:2vw;
    border-radius:20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.808);
    margin: 1vh;
    width: 70vw;

    
}

.inicioSeccionInput{
    display:flex;
    flex-direction:column;
    width:30vw;
    
    
}
.inicioSeccionUsuario{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width: 35vw;
}
.boton{
    background-color:rgb(241, 132, 132);
    font-size: 14px;
    height:3vh;
    font-weight:bold;

    
}