#inicioSeccion{
    display:flex;
    flex-direction:row;
    justify-content:center;
    
}
#inicioSeccionCaja{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    background-color: rgb(214, 248, 250);
    padding:2vw;
    border-radius:20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.808);
    margin: 1vh;
    height:55vh;
    width: 70vw;
}

.inicioSeccionInput{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:30vw;
    
    
}
.inicioSeccionUsuario{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.inputLogin{
    height:3vh;
    width: 25vw;
    margin:1vh;
    font-size:18px;
}
.boton{
    background-color:rgb(253, 255, 118);
    font-size: 14px;
    height:4vh;
    font-weight:bold;   
}
.botonLogout{
    background-color:rgb(255, 75, 75);
    font-size: 14px;
    height:4vh;
    font-weight:bold;   
}