#cajaProducto{
    background-color: rgb(196, 237, 250);
    border-radius: 20px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.808);
    width: 70vw;
    margin:5vh;
}
#cajaProductoD{
    display: flex;
    align-items: center;
    justify-content:center;
    padding:3vh;
    
}
#imagenDetalle{
    height:30vh;
    margin-right:10vw ;
}
.cajaProductoTexto{
    padding:2vh;
}

#botonConfirmar{
    height:7vh;
    width:100%;
    font-size: 20px;
    background-color:rgb(255, 252, 82);
    font-weight:bold;
    
}

#itemDetailConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
