.foot {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(255, 253, 111);
    padding:2vh;

}
.icon{
    display: flex;
    align-items: center;
    height:100%;
    
    
}
.iconos {
    display: flex;
    align-Items: center;
    
}