.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(121, 199, 255);
    background: linear-gradient(277deg, rgba(72, 204, 236, 1.00) 35%, rgba(142, 231, 243, 1.00) 86%);

}
.imgtit {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imagen {
    height: 20vh;
    width: 10vw;
    
    padding-Right: 2%;

}
.icon{
    display: flex;
    height:20vh;
    align-items: flex-end;
}
.iconos {
    display: flex;
    align-Items: center;
    
}

@media (max-width: 768px) {
    .barra {
        display: flex;
        justify-content: center;
        height: 20vh;
    }
    .imgtit{
        justify-content: center;
    }
    .icon{
        display: none;
    }
    .imagen {
        width: 20%;
    }

    .titulo {
        display: none;
    }

}