.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(144, 207, 252);
    background: linear-gradient(277deg, rgba(0, 171, 250, 1.00) 35%, rgba(239, 240, 240, 1.00) 86%);

}
.imgtit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:20px;
}
.imagen {
    height: 15vh;
    width: 10vw;

}
.icon{
    display: flex;
    height:20vh;
    align-items: flex-end;
    
    
}
.iconos {
    display: flex;
    align-Items: center;
    padding:20px;
    
}

@media (max-width: 768px) {
    .barra {
        display: flex;
        justify-content: center;
        height: 20vh;
    }
    .imgtit{
        justify-content: center;
    }
    .icon{
        display: none;
    }
    .imagen {
        width: 20%;
    }

    .titulo {
        display: none;
    }

}