.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(144, 207, 252);
    background: linear-gradient(277deg, rgba(0, 171, 250, 1.00) 35%, rgba(239, 240, 240, 1.00) 86%);

}
.imgtit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.imagen {
    height: 15vh;
    width: 10vw;

}
.icon{
    display: flex;
    height:20vh;
    padding: 1vw;
    align-items: flex-end;
    
}

