#ventas{
    background-color:rgb(115, 245, 250);
    padding:1vw;
    display:flex;
    justify-content:space-between;
}
#producto{
    display:flex;
    flex-direction:column;

}
#cuentas{
    background-color:rgba(247, 244, 86, 1.00);
    border-radius:10px;
    padding: 0px 2vh;
}
p{
    font-size:18px;
    font-weight: bold;  
}
.botoncito{
    height:5vh;
    background-color:rgb(45, 129, 255);

}
.botoncitoImg{
    height:3vh;
}